@charset "utf-8";
/* CSS Document */

/* ==== CSS RESET ==== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Amiko', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==== CSS RESET ENDS ==== */

header {
	height:70px;
	background-color:#ffffff;
	color: #231f20;
}

#header-center {
	width:936px;
	margin:0 auto;

}

#logo {
	float:left;
	font-size:27px;
	line-height:70px;
}

#logo img {
	margin:8px 0;
}

nav {
	float:right;
	line-height:70px;
}

nav a {
	color:#231f20;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

nav a:hover {
	color:#49b050;
}

nav ul li {
	display:inline;
	margin:0 20px 0 20px;
}

.on {
	color:#49b050;
}

#billboard {
	height:400px;
	background-color:#231f20;
}

#billboard h1 {
	color:#ffffff;
	font-size:48px;
	text-align:center;
	width:690px;
	margin:0 auto;
	padding:80px 0 0 0;
}

#billboard h2 {
	color:#49b050;
	font-size:24px;
	width:640px;
	margin:0 auto;
	text-align:center;
	padding:30px 0 0 0;
}

#billboard a.button {
	width:230px;
	margin:0 auto;
	display:block;
	padding:40px 0 0 0;
	
}

#billboard img:hover {
	opacity:0.4;
	filter:alpha(opcaity=70);
}

#boxes {
	width:1020px;
	margin:0 auto;
	
}

#boxes ul {
	float:left;
	margin-top:30px;
	text-align:center;
}

#boxes ul li {
	display:inline;
	margin:30px 15px 0px 15px;
	
}
.clear {
	clear:both;
	
}

#boxes img:hover {
	opacity:0.4;
	filter:alpha(opcaity=70);
}
